<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{81,27},{23,19}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 21 0 21 0 2 23 2</string>
                <key>verticesUV</key>
                <string>81 50 81 27 100 27 100 50</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{95,1},{23,19}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>23 16 14 19 0 12 0 0 23 0</string>
                <key>verticesUV</key>
                <string>98 24 95 15 102 1 114 1 114 24</string>
            </dict>
            <key>bplant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{18,1},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 25 0 25 0 0 13 0</string>
                <key>verticesUV</key>
                <string>31 26 18 26 18 1 31 1</string>
            </dict>
            <key>bplant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{33,1},{12,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 25 0 25 0 0 12 0</string>
                <key>verticesUV</key>
                <string>45 26 33 26 33 1 45 1</string>
            </dict>
            <key>bplant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{18,28},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 25 0 25 0 0 13 0</string>
                <key>verticesUV</key>
                <string>31 53 18 53 18 28 31 28</string>
            </dict>
            <key>cdino1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,15}</string>
                <key>spriteSourceSize</key>
                <string>{30,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,15}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>30 15 0 15 0 0 30 0</string>
                <key>verticesUV</key>
                <string>1 31 1 1 16 1 16 31</string>
            </dict>
            <key>cdino2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,15}</string>
                <key>spriteSourceSize</key>
                <string>{30,15}</string>
                <key>textureRect</key>
                <string>{{1,33},{30,15}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>30 15 0 15 0 0 30 0</string>
                <key>verticesUV</key>
                <string>1 63 1 33 16 33 16 63</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,7}</string>
                <key>spriteSourceSize</key>
                <string>{23,7}</string>
                <key>textureRect</key>
                <string>{{18,55},{23,7}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>23 7 0 7 0 0 23 0</string>
                <key>verticesUV</key>
                <string>41 62 18 62 18 55 41 55</string>
            </dict>
            <key>ddino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{33,28},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>22 9 15 24 0 24 0 0 22 0</string>
                <key>verticesUV</key>
                <string>55 37 48 52 33 52 33 28 55 28</string>
            </dict>
            <key>moon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{63,53},{10,20}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 20 0 20 0 0 10 0</string>
                <key>verticesUV</key>
                <string>63 63 63 53 83 53 83 63</string>
            </dict>
            <key>moon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{85,52},{10,20}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 20 0 20 0 0 10 0</string>
                <key>verticesUV</key>
                <string>85 62 85 52 105 52 105 62</string>
            </dict>
            <key>moon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{116,1},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 20 0 20 0 0 10 0</string>
                <key>verticesUV</key>
                <string>126 21 116 21 116 1 126 1</string>
            </dict>
            <key>moon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{102,26},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>20 20 0 20 0 0 20 0</string>
                <key>verticesUV</key>
                <string>122 46 102 46 102 26 122 26</string>
            </dict>
            <key>moon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{107,48},{10,20}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 20 0 20 0 0 10 0</string>
                <key>verticesUV</key>
                <string>107 58 107 48 127 48 127 58</string>
            </dict>
            <key>moon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{124,23},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 20 0 20 0 0 10 0</string>
                <key>verticesUV</key>
                <string>134 43 124 43 124 23 134 23</string>
            </dict>
            <key>moon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{128,1},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>10 20 0 20 0 0 10 0</string>
                <key>verticesUV</key>
                <string>138 21 128 21 128 1 138 1</string>
            </dict>
            <key>plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{43,54},{9,18}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 18 0 18 0 0 9 0</string>
                <key>verticesUV</key>
                <string>43 63 43 54 61 54 61 63</string>
            </dict>
            <key>plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{129,45},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 18 0 18 0 0 9 0</string>
                <key>verticesUV</key>
                <string>138 63 129 63 129 45 138 45</string>
            </dict>
            <key>plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{136,23},{9,18}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 18 0 18 0 0 9 0</string>
                <key>verticesUV</key>
                <string>136 32 136 23 154 23 154 32</string>
            </dict>
            <key>plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{136,34},{9,18}}</string>
                <key>textureRotated</key>
                <true/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 18 0 18 0 0 9 0</string>
                <key>verticesUV</key>
                <string>136 43 136 34 154 34 154 43</string>
            </dict>
            <key>plant5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{140,45},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 18 0 18 0 0 9 0</string>
                <key>verticesUV</key>
                <string>149 63 140 63 140 45 149 45</string>
            </dict>
            <key>plant6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{140,1},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>9 18 0 18 0 0 9 0</string>
                <key>verticesUV</key>
                <string>149 19 140 19 140 1 149 1</string>
            </dict>
            <key>rdino1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{47,1},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>22 24 0 24 0 0 22 0</string>
                <key>verticesUV</key>
                <string>69 25 47 25 47 1 69 1</string>
            </dict>
            <key>rdino2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{57,27},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>22 24 0 24 0 0 22 0</string>
                <key>verticesUV</key>
                <string>79 51 57 51 57 27 79 27</string>
            </dict>
            <key>sdino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{71,1},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>22 9 15 24 0 24 0 0 22 0</string>
                <key>verticesUV</key>
                <string>93 10 86 25 71 25 71 1 93 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dinogame.png</string>
            <key>size</key>
            <string>{155,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:307cf49c2c9dfd8e2e594bef0abf86dd:444541fb9d1585afd59cd82d2bd954f6:7b79ed07ad74493820d05eaa4ece2d6b$</string>
            <key>textureFileName</key>
            <string>dinogame.png</string>
        </dict>
    </dict>
</plist>
